.navbar {
  // display: flex;
  // justify-content: space-between;
  border-bottom: solid 1px rgb(7, 7, 102);
  // align-items: center;
}

.navbar img {
  height: 80px;
  width: 70px;
}

.links {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
}

.nav-links-div {
  transition-duration: 100ms;
}

.nav-links-div:hover {
  width: max-content;
  margin-bottom: -5px;
  border-bottom: solid 2px rgb(76, 124, 202);
}



.navbar-logo-search {
  margin-left: 40px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
