// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.container {
  margin: 0 auto;
  padding: 50px;
  height: 100vh;
}

.last-proposals-container {
  width: fit-content;
  height: fit-content;
}

.last-proposals {
  list-style: none;
}

.last-proposals-div {
  border: solid 1px rgb(34, 10, 122);
  width: fit-content;
  border-radius: 6px;
  margin-top: 20px;
  transition: 0.3s;

}

.last-proposals-div:hover {
  box-shadow: 2px 2px rgba(215, 215, 215, 0.9);
  transform: translate(0, -5px);
  cursor: pointer;
}

.last-proposals-div ul {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
}



.proposal-form input {
  border-radius: 8px;
  border: solid 1px rgba(34, 10, 122, 0.3);
  height: 24px;
}

.proposal-form textarea {
  border-radius: 8px;
  border: solid 1px rgba(34, 10, 122, 0.3);
  height: 24px;
  margin-right: 40px;
}

.proposal-form select {
  border-radius: 8px;
  border: solid 1px rgba(34, 10, 122, 0.3);
  height: 28px;
  margin-right: 40px;
}

.proposal-info {
  display: flex;
  margin-bottom: 50px;
}

// .proposal-info input {


// }

#proposal_image {
  border: none;
}

.pvgis-info {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
}

.pvgis-info {
  position: relative;
}

// .pvgis-info a {
//   position: absolute;
//   right: 40px;
//   top: 20px;
//   text-decoration: none;
// }

.proposal-address {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
}

// .proposal-address input {
//   margin-right: 40px;
// }

.proposal-create-button {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.btn-flat {
  color: white;
  padding: 6px 30px;
  background-color: rgb(76, 124, 202);
  border: solid 1px gray;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  height: auto;

}

.btn-back {
  color: white;
  padding: 6px 30px;
  text-decoration: none;
  background-color: rgb(76, 124, 202);
  border: solid 1px gray;
  border-radius: 4px;
  font-size: 16px;
}



.btn-back:hover {
  cursor: pointer;
}

.btn-flat:hover {
  cursor: pointer;
}

.search-bar input {
  padding: 5px;
}


.search-bar .btn-flat {
  width: 100px;
  padding: 6px;
}

.search-bar .btn-flat:hover {
  padding: 7px;
  cursor: pointer;
}

.bottom-buttons {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

#search-proposal-container {
  display: flex;
  justify-content: space-between;
}

.proposal-form input {
  height: auto;
}

.proposal-form select {
  height: auto;
  width: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.remove_fields {
  position: absolute;
  right: -26px;
  top: 35px;
  text-decoration: none;
}

.add_fields {
  position: absolute;
  right: 40px;
  top: 20px;
  text-decoration: none;
}
